<div class="container-fluid">
  <div class="row">
    <div class="canvas-stuff">
      <canvas id="mah-canvas" width="600" height="500"></canvas>
      <div class="full-width">
        <!-- path draw controls -->
        <div style="width:100%;">
          <button type="button" class="canvas-btn btn btn-primary" (click)="calculateCleanPoints(true)">Show points</button>
          <button type="button" id="clr" class="canvas-btn btn btn-danger" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8">

    </div>

    <div class="col-lg-4 canvas-side">
      <!-- command inputs to train movement -->
      <div class="options">
        <form>
          <h3 class="inline">Train model</h3>
          <h6 class="inline" style="color:gray;">{{this.mlService.outputCommands.length}} training points</h6>
          <div class="form-group">
            <label>Left wheel speed</label>
            <input [(ngModel)]="leftCmd" type="number" name="x" class="form-control" placeholder="revolutions/s">
          </div>
          <div class="form-group">
            <label>Right wheel speed</label>
            <input [(ngModel)]="rightCmd" type="number" name="y" class="form-control" placeholder="revolutions/s">
          </div>
        </form>
        <button class="btn btn-primary" (click)="train()">Train</button>
        <a tabindex="0" class="full-btn btn btn-success" role="button" data-toggle="popover" data-trigger="focus" 
          data-placement="bottom" title="Warning" data-content="Train bot before following path">
          Follow path
        </a>
      </div>
    </div>
  </div>
</div>

<div style="text-align:center">
  <hr>
  <h4 style="margin: 1em">General path-following movement AI, by Tika.</h4>
  <img style="margin-bottom: 2em;" width="10%" src="../assets/tika-text.svg">
</div>
