
div.canvas-stuff {
  margin: auto; 
}

canvas {
  margin: 2em 1em 1em 1em; 
  border: 1px solid gray;
}

div.full-width {
  width: 100%;
  text-align: center;
}

button.canvas-btn {
  margin: 0 auto 1em auto;   
}

div.canvas-side {
  @media (min-width: 991px) { 
    margin-top: -37em; 
  }
}

div.options {
  width: 60%; 
  margin: 2em auto;  
}
