<app-nav-bar>
</app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="canvas-stuff">
      <canvas id="mah-canvas" width="600" height="500"></canvas>
      <div class="full-width">
        <!-- path draw controls -->
        <div style="width:100%;margin-top:-0.5em;">
          <button type="button" class="canvas-btn btn btn-primary" (click)="calculateCleanPoints(true)">Show points</button>
          <button type="button" id="clr" class="canvas-btn btn btn-danger" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8">

    </div>

    <div class="col-lg-4 canvas-side">
      <!-- command inputs to train movement -->
      <div class="options">
        <form>
          <h4 class="inline">Training</h4>
          <h6 class="inline" style="color:gray;">{{this.mlService.outputCommands.length}} training points</h6>
          <div class="form-group">
            <label>Left wheel speed</label>
            <input [(ngModel)]="leftCmd" type="number" name="x" class="form-control" placeholder="revolutions/s">
          </div>
          <div class="form-group">
            <label>Right wheel speed</label>
            <input [(ngModel)]="rightCmd" type="number" name="y" class="form-control" placeholder="revolutions/s">
          </div>
          <div class="form-group">
            <label>Angle - PI * x</label>
            <input [(ngModel)]="formBotAngle" type="number" name="botAngle" class="form-control" placeholder="* PI">
          </div>
        </form>
        <button class="btn btn-primary" (click)="train()">Train</button>
        <button class="btn btn-primary" (click)="autoTrainAsync()">
          <i class="fa fa-magic" aria-hidden="true"></i>
          Auto train
        </button>
        <mat-progress-bar *ngIf="this.autoTrainProgress != 100 && this.autoTrainProgress != 0" id="auto-train-progress" mode="value"
          [value]="this.autoTrainProgress"></mat-progress-bar>

        <hr>

        <h4 class="inline">Testing</h4>
        <button *ngIf="this.currentFollowStep == -1" class="full-btn btn btn-success" (click)="followPath()">
          Follow path
        </button>
        <div *ngIf="this.displayFollowWarning" class="alert alert-warning" role="alert">
          Please train model and draw path before testing.
        </div>
        <div *ngIf="this.cleanPointsArray.length > 0 && this.mlService.neuralNet && this.currentFollowStep != -1" style="margin-top:0.5em;" class="row">
          <div class="col-3">
            <h6>Step</h6>
            <p>{{ this.currentFollowStep + 1 }} of {{ this.cleanPointsArray.length }}</p>
          </div>
          <div class="col-9 center-vertical">
            <button *ngIf="this.currentFollowStep >= 0 && this.currentFollowStep < this.cleanPointsArray.length" type="button" 
              class="step-btn btn btn-light" (click)="followPoint(this.currentFollowStep)">
              Retry step
            </button>
            <button *ngIf="this.currentFollowStep >= 0 && this.currentFollowStep < this.cleanPointsArray.length - 1" type="button" 
              class="step-btn btn btn-light" (click)="followPoint(this.currentFollowStep + 1)">
              Next step
            </button>
          </div>
        </div>

        <!-- Bootstrap popover warning
        <a tabindex="0" class="full-btn btn btn-success" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
          title="Warning" data-content="Train bot before following path">
          Follow path
        </a>
        -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fancy-bg">
  <div class="head">
    <h1>PARIS</h1>
    <p>Path-following ARtificial Intelligence Simulation</p>
  </div>
</div>

<div id="about" class="container">
  <div class="row">
    <div class="col-md-9 center-text">
      <h3 class="info-header">About this project</h3>
      <p class="lead info">
        This is a demonstration of an artificially intelligent robot that learns how to move on the 2D plane. You can interact this
        AI through the simulation above. <a href="#how-to">Skip to the instructions</a> to get started.
        <br> The robot has two wheels, arranged opposite each other, that can turn at varying speeds. By moving its two wheels
        and studying the resulting change in position over many trials, the robot learns how to accomplish complex movements,
        even those it did not learn before.
      </p>
    </div>
    <div class="col-md-3 center-text center-vertical">
      <div style="margin:1em auto;">
        <h5>Project code</h5>
        <a href="https://github.com/MikaOY/path-following-ai-simulation" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
        <h5 style="margin-top:0.5em;">Stay in touch</h5>
        <a href="https://www.facebook.com/MikaOYeap" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
        <a href="https://twitter.com/mikayeap" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div style="text-align:center">
  <hr>
  <h6 style="margin:1.5em;color:gray;">Demo of a general path-following movement AI.</h6>
  <a href="http://tika.io" target="_blank"><img style="margin: auto auto 1em auto;" width="120px" src="../assets/tika-text.svg"></a>
</div>
