

@import "../../variables";

nav.navbar {
  padding-left: 1.5em; 
}

a.navbar-brand {
  width: 6%;
  text-align: center; 
  img {
    width: 60px; 
  }
}

#the-navbar {
  margin-top: 0.4em; 
}

li.nav-item {
  margin: auto 0.7em; 

  a {
    font-size: 1.3em; 
    color: black; 
  }
}

a.patreon {
  width: 180px; 

  img {
    width: 180px; 
  }
}

@media (max-width: 767px) { 
  a.patreon {
    position: absolute; 
    right: 84px; 
    top: 10px; 
    width: 160px;

    img {
      width: 160px; 
    }
  }
}

@media (max-width: 450px) { 
  a.patreon {
    display: none; 
  }
}

div.head {
  margin: 0.75em 1.5em; 
  width: 100%; 
}
