/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./_variables.scss";

// Breakpoints

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 

}

// GENERAL

.center-vertical {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center; 
}

// DEBUG -------------------------

.red {
  background-color: red; 
}

.yellow {
  background-color: yellow; 
}

.black {
  background-color: black; 
}

