/* You can add global styles to this file, and also import other style files */

@import "./_variables.scss";

// Breakpoints

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
  h1.responsive {
    font-size: 5vw !important; 
  }
  p.responsive {
    font-size: 3vw !important;  
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
  h1.responsive {
    font-size: 5vw !important; 
  }
  p.responsive {
    font-size: 3vw !important;  
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
  h1.responsive {
    font-size: 3.5vw; 
  }
  p.responsive {
    font-size: 2vw; 
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 

}

// DEBUG -------------------------

.red {
  background-color: red; 
}

.yellow {
  background-color: yellow; 
}

.black {
  background-color: black; 
}

